{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.pedestal/pedestal.jetty {:mvn/version "0.7.2"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.10"}

        hiccup/hiccup {:mvn/version "2.0.0-RC4"}}}
